.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.out
*.fls
*.synctex.gz
*.lb
*.bcf
*.run.xml
auto/*
cache/*
test_ranger_runtime.tex
test_ranger_runtime-concordance.tex
test_ranger_runtime.pdf
